// font size

$small-fz: 14px;

$link-fz: 16px;

$text-fz: 18px;

$span-fz: 20px;

$sub-title-fz: 24px;

$title-fz: 36px;

$header-fz: 48px;

// colors

$primary-color: #1a75ff;

$primary-color-black: #002966;

$primary-color-light: #0052cc;

$title-color: #141c24;

$text-color: #344051;

$gradient: linear-gradient(79.77deg, #1975ff 0%, #33a9ff 100%);

$contrasr-color: #ffffff;

$contrasr-color-black: #f0f6ff;

// font-family

$primary-ff: 'Odibee Sans', cursive;
